{%extends "base.html"%}
{%block start%}
<div class="container mt-5">
    <h1>Register</h1>

<form method="post">
    {% csrf_token %}
    <div class="form-group">
        {% if messages %}
<ul class="messages">
    {% for message in messages %}
    <div class="alert alert-primary" role="alert">
        {{ message }}
      </div>
    {% endfor %}
</ul>
{% endif %}
        <label for="exampleInputEmail1">First Name</label>
      <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="first_name" placeholder="Enter First Name">
      <label for="exampleInputEmail1">Last Name</label>
      <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="last_name" placeholder="Enter Last Name">
      <label for="exampleInputEmail1">Username</label>
      <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="username" placeholder="Enter Username">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" class="form-control" name="password" id="exampleInputPassword1" placeholder="Password">
    </div>
    <p>Already have an Account ? <a href="/login/">Login</a></p>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  </div>
{%endblock%}